<!DOCTYPE html>

<html lang="pt-br">

<head>

<meta charset="UTF-8">

<title>Editar Veterinário</title>

<link
rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}"
>

</head>


<body class="pagina-painel">


<div class="conteudo-painel">


<h1>
Editar Veterinário
</h1>


<form method="POST">


<label>
Nome
</label>

<input
type="text"
name="nome"
value="{{ veterinario.nome }}"
>



<label>
CRMV
</label>

<input
type="text"
name="crmv"
value="{{ veterinario.crmv }}"
>



<label>
Especialidade
</label>

<input
type="text"
name="especialidade"
value="{{ veterinario.especialidade }}"
>



<label>
Telefone
</label>

<input
type="text"
name="telefone"
value="{{ veterinario.telefone }}"
>



<label>
Email
</label>

<input
type="email"
name="email"
value="{{ veterinario.email }}"
>



<button type="submit">

Salvar alterações

</button>


</form>


</div>


</body>

</html>